.card{
    display:flex;
    width: 100%;
    border: 1px solid #EEE;
    gap: 10px;
    padding:0.3rem;
    background: linear-gradient(135deg, #ececec, #f8f8f8);
}
.card .image-container{
    width: 30%;
    height: 8rem;
    padding: 1rem;
    border: 1px solid #EEE;
    background-color: #fff;
    /* overflow: hidden; */
}
.image-container img{
    width: 100%;
    height: 100%;
}

.card .other-info{
    width: 60%;
display: flex;
flex-direction: column;
justify-content: center;
row-gap: 10px;

}
.icons-container .icon{
    padding: 0.2rem;
    transition: 0.5s;
    border: 1px solid #EEE; 
}
.icons-container .icon:hover{
    background: rgb(254, 55, 0);
    color: #FFF;
    cursor: pointer;
    transition: 0.5s;
}
.icons-container{
    display: flex;
    column-gap: 5px;
}
.card .other-info h3{
    font-size: 1.1rem;
    color: #2b2c2c;
}
.card .other-info p{
    font-size: 0.8rem;
    color: #cd1e76;
}

@media screen and (max-width:480px) {
    html:root{
        font-size: 12px;
    }
    .card .image-container{
        padding: 0.7rem;
    }

}
@media screen and (max-width:768px) {
    :root{
        font-size: 14px;
    }
    .card .image-container{
       
        width: 50%;
    }
   

}